<!DOCTYPE html>
<head>
    <title>Flight Price Predictor</title>
    <meta charset="UTF-8">
    <style>
        .result-button {
        background-color: #fff;
        padding: 40px 60px;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        text-align: center;
    }
    .result-button {
        margin-top: 30px;
        display: inline-block;
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 8px;
    }
    </style>
</head>

<body>
    <h1>
        Welcome to this Predictor
    </h1>
    <a href="/predict" class="result-button">Continue to form</a>
</body>